/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aligned {
  width: 72%;
  margin: auto;
}

main {
  margin-top: 70px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* Header Styling */
.header {
  background-color: rgb(100%, 41%, 0%);
  box-shadow: 0 0 6px #555;
  height: 70px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

/* Nav Styling */
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.menu-item li {
  list-style-type: none;
  padding-left: 10px;
}

.menu-item {
  display: flex;
}

#logo {
  width: 135px;
}

.icons a {
  color: white;
}

.icons i {
  padding-right: 10px;
}

/* Main Styling */

.container {
  width: 100%;
  margin: 0 10px;
  position: relative;
}

.row {
  padding: 50px 0 0;
  margin: 10px 0;
  display: flex;
}

.product {
  width: 100%;
  margin: 0 10px;
  position: relative;
}

.product img {
  width: 100%;
}

.product img:not(:first-child):not(:last-child) {
  padding: 0 20px;
}

/* Styling labels */
.label {
  z-index: 555;
  position: absolute;
  background-color: red;
  font-size: 14px;
  color: aliceblue;
  bottom: 100px;
  left: 0;
  padding: 4px 10px;
  font-weight: 700;
}

.green {
  z-index: 555;
  position: absolute;
  background-color: green;
  font-size: 14px;
  color: aliceblue;
  bottom: 100px;
  left: 55px;
  padding: 4px 10px;
  font-weight: 700;
}

.lft-grn {
  z-index: 555;
  position: absolute;
  background-color: green;
  font-size: 14px;
  color: aliceblue;
  bottom: 100px;
  left: 0px;
  padding: 4px 10px;
  font-weight: 700;
}

/* Styling heart */
.heart {
  z-index: 555;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: white;
  padding: 5px 15px;
}

.heart:hover {
  color: red;
}

/* Styling Product Info */
.brand {
  font-size: 15px;
}

.product-name {
  text-transform: uppercase;
  font-weight: 700;
}

.product-price {
  color: red;
  font-weight: 700;
  font-size: 14px;
}

.product-discounted {
  text-decoration: line-through;
  font-size: 14px;
}

/* Styling image hover change */
.img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 444;
}

.imgs:hover .img-top {
  display: inline;
}

/* Styling Footer */

footer {
  margin-top: 50px;
  background-color: rgb(26, 26, 26);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.footer-top span {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#social {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.footer-bottom {
  display: flex;
  padding: 10px 0 30px 0;
  justify-content: space-between;
}

.policy a {
  text-decoration: none;
  font-size: 14px;
  padding: 0 5px 0 0;
  color: white;
}

.socials i {
  color: white;
  font-size: 20px;
  padding-left: 5px;
}