/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 72%;
  margin: auto;
}

main {
  margin-top: 70px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* Header Styling */
.header {
  background-color: rgb(100%, 41%, 0%);
  box-shadow: 0 0 6px #555;
  height: 70px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 555;
  top: 0;
  left: 0;
}

/* Nav Styling */
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.menu-item li {
  list-style-type: none;
  padding-left: 10px;
}

.menu-item {
  display: flex;
}

#logo {
  width: 135px;
}

.icons a {
  color: white;
}

.icons i {
  padding-right: 10px;
}

/* Main Styling */

.row {
  padding: 50px 0 0;
  margin: 10px 0;
  display: flex;
}

.product {
  margin: 0 10px;
  position: relative;
}

.product img {
  width: 100%;
}

.product img:not(:first-child):not(:last-child) {
  padding: 0 20px;
}

.label {
  position: absolute;
  background-color: red;
  font-size: 14px;
  color: aliceblue;
  bottom: 100px;
  left: 0;
  padding: 4px 10px;
  font-weight: 700;
}

.green {
  position: absolute;
  background-color: green;
  font-size: 14px;
  color: aliceblue;
  bottom: 100px;
  left: 55px;
  padding: 4px 10px;
  font-weight: 700;
}

.lft-grn {
  position: absolute;
  background-color: green;
  font-size: 14px;
  color: aliceblue;
  bottom: 100px;
  left: 0px;
  padding: 4px 10px;
  font-weight: 700;
}

.heart {
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: white;
  padding: 5px 15px;
}

.product:hover .heart {
  color: red;
}

.brand {
  font-size: 15px;
}

.product-name {
  text-transform: uppercase;
  font-weight: 700;
}

.product-price {
  color: red;
  font-weight: 700;
  font-size: 14px;
}

.product-discounted {
  text-decoration: line-through;
  font-size: 14px;
}